/*@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap');
*/
.EXEMPLO {
    @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap');
}
div.headerLogo {
        /* display: inline; */
        display: inline;
        width: 10px;
        height: 10px;
        margin: 10px auto;
        padding: 10px;
        border: 3px dottop;
        max-width: 100%;
}

div.carrinhoDeComprasXcoder {
    display: inline;
    width: 15%;
    height: 15%;
    margin: 15% auto;
    padding: 10%;
    border: 3% dottop red;
    max-width: 100%;
    /*
	position: absolute;
	left: 84%;
	top: -10%;
    size: 30%;
    max-width: 100%;

    */
}


body {
    font-family: arial;
    color: white;
}

p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    color: white;
}

h2 {
    font-style: italic;
    text-align: center;
    color: white;
}

h1 { 
    text-transform: uppercase;
    text-align: center;
    color: white;
}

h3 { 
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#saudacao {
    color: blue;
}

.titulo { font-size: 35px}

h1.titulos {
    color: white;
    font-size: 15px;
    text-align: left;    
}

ul#redeSocial li {color: yellow}

#logoXcoder{
    text-align: left;
    size: 10px;
}

/* #carrinhoDeCompras{
    text-align: right;
    size: 10px;
}
*/


#carrinhoDeCompras2{
    text-align: right;
    size: 10px;
}

div.caixa1 {
    background-color: grey;
    border-top: 5px solid white;
}

div.caixa2 {
    background-color: blue;
    border: 5px solid white;
}

div.caixa3 {
    background-color: red;
    border-bottom: 5px dotted white;
}

div.caixa4 {
    background-color: pink;
    border: 5px dotted white;
}



div {
    /* display: inline; */
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    padding: 50px;
    border: 3px dottop;

}

header {
    background-color: lightseagreen;
    color: white;
    font-size: 28px;
    border-bottom: 3px solid indigo;
    padding: 22px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;

}

section {
    width: 50%;
    margin-left: 25%;
    background-color: gainsboro;
    color: white;
    margin-bottom: 15px;
    padding-left: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px dashed black;
    text-align: center;
    box-sizing: border-box;
}

footer {
    background-color: rebeccapurple;
    color: white;
    border-top: 1px lightseagreen;
    padding: 12px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
}

.acima {
    background-color: blueviolet;
    height: 40vh;
    width:100%;
    
    }
    
    .abaixo {
    background-color: brown;
    height: 60vh;
    width:100%;
    
    }



